.ChatIntro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    border-bottom: 6px solid #008069;
    background-color: #222e35;
}
.ChatIntro img{
    width: 250px;
    height: auto;
}
.ChatIntro h1{
    font-size: 32px;
    color: #dddddd;
    font-weight: normal;

}
.ChatIntro h2{
    font-size:14px;
    color: #99aaaa;
    font-weight: normal;

}