.chatlistitem{
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 70px;
}
.chatlistitem:hover{
    background-color: #2a3942;
}
.chatlistitem.active{
    background-color: #2a3942;
}
.chatlistitem-avatar{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 15px;
}
.chatlistitem-lines{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
    margin-left: 15px;

    flex-wrap: wrap;
    min-width: 0;
}
.chatlistitem-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.chatlistitem-name{
    font-size: 17px;
    color: white;
}
.chatlistitem-date{
    font-size: 12px;
    color: #99aaaa;
}
.chatlistitem-lastmsg{
    font-size: 14px;
    color: #99aaaa;
    display: flex;
    width: 100%;
}
.chatlistitem-lastmsg p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}