.message-line{
    margin-bottom: 10px;
    display: flex;
}
.message-item{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3px;
    max-width: 90%;
    word-wrap: break-word;
}
.message-text{
    font-size: 14px;
    margin: 5px 40px 5px 5px;
    color: white;
}
.message-date{
    font-size: 11px;
    color: #99aaaa;
    margin-right: 5px;
    text-align: right;
    height: 15px;
    margin-top: -15px;
}